<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>City Library</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Cardo:400,700|Oswald" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">

    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <p class="navbar-brand">CITY LIBRARY</p>

        </div>
          <ul class="nav navbar-nav navbar-right">
            <!-- all the values for the nav bar-->
            <li class="nav-item"><a href="/">HOME</a></li>
            <li class="nav-item"><a href="/search">SEARCH</a></li>
            <li class="nav-item"><a href="/borrow">BORROW</a></li>
            <li class="nav-item"><a href="/renew">RENEW</a></li>
            <li class="nav-item"><a href="/return">RETURN</a></li>
          </ul>
        </div>

    </nav>

  </head>

  <body>
