<%- include("partials/header") -%>

<% if(!failure){ %>
 <div class="result success">
     <h5>Book sucessfully borrowed, yay!</h5>
     <img class="image" src="/images/lib.jpg" alt="library">
 </div>
<% } %>


<% if(failure){ %>
  <div class="result failure">
    <h5>Error: could not complete request, please try again</h5>
    <img class="image" src="/images/error.jpg" alt="error">
  </div>
<% } %>

<%- include("partials/footer") -%>
