<%- include("partials/header") -%>

<div class = "heading">
<h1 class = "head-text">The City Library</h1>
</div>

<div class = "heading">
  <h3 class="text">Welcome to the City Library website</h3>
  <h3 class = "text">Please select the service you want above</h3>
</div>

<%- include("partials/footer") -%>
