<%- include("partials/header") -%>

<div class = "heading">
<h1 class = "head-text">The City Library</h1>
</div>

<div class = "heading">
  <h3 class="text">Welcome to the City Library website</h3>
  <h3 class = "text">Please login or sign-up to get started</h3>
  <a class="entry btn btn-primary" href="/login" role="button">Login</a>
  <a class="entry btn btn-primary" href="/signup" role="button">Signup</a>
</div>

<%- include("partials/footer") -%>
