<%- include("partials/header") -%>

<div class = "heading">
<h1 class = "head-text">Renew a book</h1>
</div>

<div class="heading">
  <h4 class = "text">Enter book ID:</h4>
</div>

<%- include("partials/footer") -%>
