<%- include("partials/header") -%>

<div class = "heading">
<h1 class = "head-text">Search for a book</h1>
</div>

<div class="heading">
  <h4 class = "text">Enter author name or title of book:</h4>
</div>

<%- include("partials/footer") -%>
