<%- include("partials/header") -%>

<div class = "heading">
<h1 class = "head-text">Search for a book</h1>
</div>

<div class="heading">
  <h4 class = "text">Enter author name or title of book:</h4>
</div>

<form action="/search" method="post">
  <div class="form-group">
    <label class="formTitle" for="TitleAuthor">Type in</label>
    <input type="text" class="form-control" name="searchData" id="TitleAuthor" placeholder="Title or Author">
    <small id="bookIdHelp" class="formMutedText">Rummaging around the library to get your book :)</small>
  </div>

  <button type="submit" class="btn btn-primary">Search</button>
</form>

<%- include("partials/footer") -%>
